#wlt-main{
    font-family: Helvetica, sans-serif, Arial, sans-serif;
    margin-right: 15px;
    background-color: rgba(248, 248, 252, 1);
    padding: 2rem;
}
#wlt-main .wlt-main-header{
    display: flex;
    width: 100%;
    align-items: center;
}
#wlt-main .wlt-main-header h1{
    color: rgba(22, 31, 49, 1);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    min-width: max-content;
}
#wlt-main .wlt-main-header div{
    position: relative;
    z-index: 10;
    margin-top: 0.375rem;
    display: flex;
    width: 100%;
    align-items: center;
    color: rgba(122, 129, 143, 1);
    margin-right: calc(0.5rem * calc(1 - 0));
    margin-left: calc(0.5rem * calc(1 - 0));
}
#wlt-main .wlt_content{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: #FFFFFF;
    border-radius: 0 12px 12px 12px;
    border: 1px solid #dadae7;
    min-height: 60vh;
}
#wlt-main .wlt_content .wlt-sections{
    display: flex;
    flex-direction: column;
}
#wlt-main .wlt_content .wlt-sections .wlt_button{
    display: flex;
    justify-content: center;
}
#wlt-main .wlt_content .wlt-sections .wlt_button a{
    cursor: pointer;
}
